/* @font-face {
    font-family: 'Oxygen';
    src: url('/fonts/Oxygen/Oxygen-Bold.woff2') format('woff2'),
        url('/fonts/Oxygen/Oxygen-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oxygen';
    src: url('/fonts/Oxygen/Oxygen-Light.woff2') format('woff2'),
        url('/fonts/Oxygen/Oxygen-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'Oxygen';
    src: url('/fonts/Oxygen/Oxygen-Regular.woff2') format('woff2'),
        url('/fonts/Oxygen/Oxygen-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}